<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chat App</title>
</head>
<body>
  <h1>Chattify</h1>

  <form name="form" onsubmit="return sendMessage()">
    <input type="text" name="name" id="name" placeholder="Type your name" />
    <input type="text" placeholder="Type a message..." name="message" id="send" />
    <button type="submit">Send</button>
  </form>

  <div id="showmessage"></div>

  <script>
    // Creating a WebSocket instance to connect to the server
    const ws = new WebSocket("wss://db49bfeb10661.notebooksa.jarvislabs.net/ws");

    // To display messages
    const messages = document.getElementById("showmessage");

    // Handling incoming messages from the WebSocket server
    ws.onmessage = function(event) {
      const data = JSON.parse(event.data);

      const p = document.createElement("p");
      p.textContent = `${data.sender}: ${data.message}`;

      messages.appendChild(p);
    };

    // Function to send a message to the WebSocket server
    function sendMessage() {
      const msg = document.getElementById("send");
      const name = document.getElementById("name");

      const outgoingMessage = {
        sender: name.value,
        message: msg.value,
      };

      const p = document.createElement("p");
      p.textContent = `You: ${msg.value}`;

      messages.appendChild(p);

      ws.send(JSON.stringify(outgoingMessage));

      msg.value = "";

      // Preventing the form from submitting
      return false;
    }

    // Function to fetch previous messages when the page loads
    // async function fetchMessages() {
    //   try {
    //     const response = await fetch("/messages");
    //     const data = await response.json();

    //     data.forEach(msg => {
    //       const p = document.createElement("p");
    //       p.textContent = `${msg.sender}: ${msg.message}`;
    //       messages.appendChild(p);
    //     });
    //   } catch (error) {
    //     console.error("Error fetching messages:", error);
    //   }
    // }

    // // Call fetchMessages function when the page loads
    // fetchMessages();
  </script>
</body>
</html>
